<div class="container">
	<h4>Новости и уведомления </h4>
	<form method=GET id=clnd >
		<input type="date" value="@Сегодня" onChange="clnd.submit();" onBlure="clnd.submit();" class="form-control" id="date" name="date" placeholder="Дата">
	</form>
	<br>
	@Новости
</div>