<link rel="stylesheet" type="text/css" href="~/css/home.css">


<div class="container">

	<a href="./" class="logo" aria-label="Logo" alt="Oarismos">
		<img src="~/img/logo.webp" alt="Logo">
	</a>

	<h1>Добро пожаловать на Oarismos!</h1>
	<h3>Коверотека - так мы называем это место</h2>
	<p>Присоединяйтесь и сохраняйте историю вместе с нами! Этот небольшой проект - внимание к такому элементу 
			истории искусства и культуры как книгоиздание. Существует ни один десяток сообществ, ставящих своей целью сохранение
			литературных произведений, мы же делаем акцент на издания - книги как объекты, труд не писателей, но художников
			и оформителей.</p>

	<table>

		<tr>
			<td><img src="~/img/sticker1.webp" class="stickers" alt="1"/></td>
			<td>Как и любые другие виды искусства, издания - часть истории, которую уж точно нельзя назвать
			"слишком незначительной". Хотя художественная часть выпуска книг и может показаться не очень важной в сравнении с 
			 картинами или памятниками архитектуры, мы верим (с опорой на исторический опыт)  что любая сохраненная древность может
			однажды внести неоценимый вклад в развитие будущего.</td>
		</tr>

		<tr>
			<td style="width: 52%">Сохранять историю с Oarismos - очень просто! Вам достаточно иметь всего лишь телефон (желательно с каким-нибудь 
			приложением для скана документов) и линейку. Сфотографируйте обложку с трех сторон: корешка, фронта и тыла, заполните несколько
			полей информацией и размеров о снятой книге и готово! Все отправленные книги попадают на оценку сообщества и, если
			все хорошо, очень скоро попадают в коверотеку</td>
			<td><img src="~/img/sticker1.webp" class="stickers stickerright" alt="2"/></td>
		</tr>

		<tr>
			<td><img src="~/img/sticker1.webp" class="stickers" alt="3"/></td>
			<td>Поиск редких и необычных книг может стать замечательным и крайне увлекательным хобби, подарить
			множество незабываемых приключений, а Oarismos изо всех сил постарается добавить Вашим усилиям мотивации.
			Добавляйте книги, голосуйте за издания других пользователей, участвуйте в жизни сообщества - все это будет выражено в очках, уровнях
			и статистике в вашем профиле и таблицах лидеров. Соревнуйтесь с другими пользователями и соберите самую большую коллекцию в Oarismos</td>
		</tr>

	</table>

	<br><br>

	<a href="/auth/registration"><button type="button" class="btn btn-warning" style="margin-left: 12px;">Я в деле!</button></a>
	<a href="/auth/"><button type="button" class="btn btn-outline-secondary">У меня есть аккаунт</button></a>

</div>

