<div class="container" style="text-align: center">
	<img src="~/img/greytemple.webp">
	<br><br>
	<h2>Подтвердите адрес электронной почты</h2>
	<p>Письмо с подтверждением выслано на указанный вами адрес</p>
	<br>
	<a href="-?Главная?-"><button type="button" class="btn btn-warning" style="margin-left: 12px;">Вернуться на главную</button></a>
<div>